* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
}
ul, nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	font-size: 20px;
	padding: 1rem;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}
header h2 {
	text-transform: uppercase;
}

@media(max-width:900px) {
	header {
		padding: 20px 50px;
	}
}

/*contact area*/
#contact {
	background: rgb(181, 224, 221);
}
ul.contact-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-content li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.contact-content li i {
	font-size: 50px;
	color: crimson;
	margin-bottom: 20px;
}
.contact-content li p {
	margin: 0;
}
@media (max-width: 1000px) {
	.contact-content li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	.contact-content li:last-child {
		margin-bottom: 0;
	}
	.contact-content li p {
		padding: 0;
	}
}

/*footer*/
footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #000;
	padding: 60px 0;
}